<h5> Total Sightings: <h3>{{sightings.length}}</h3>
</h5>
<div class="row">
    <div class="col s6 m4">
        {{#if lightsOn}}
        <table class="striped">
            <thead>
                <tr>
                    <th> Lights On: {{lightsOn.length}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each lightsOn}}
                <tr>
                    <td>{{dateFormat createdAt "MMM Do, HH:mm"}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
    </div>
    <div class="row">
        <div class="col s6 m4">
            {{#if lightsOff}}
            <table class="striped">
                <thead>
                    <tr>
                        <th>Lights Off: {{lightsOff.length}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each lightsOff}}
                    <tr>
                        <td>{{dateFormat createdAt "MMM Do, HH:mm"}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <h5>No Sightings</h5>
            {{/if}}
        </div>