<h5> Total Sightings: <h3>{{sightings.length}}</h3>
</h5>
<div class="row  center">
    <div class="col left card s6 m4">
        {{#if sightings}}
        <table class="striped">
            <thead>
                <tr class="card-title">
                    <th> Lights On: {{lightsOn.length}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each lightsOn}}
                <tr>
                    <td>{{createdAt}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
    <div class="row">
        <div class="col card right s6 m4">

            <table class="striped">
                <thead>
                    <tr class="card-title">
                        <th>Lights Off: {{lightsOff.length}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each lightsOff}}
                    <tr>
                        <td>{{createdAt}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="card center">
        <div class="card-title center">
            <p>Reset CopCounter DB</p>
        </div>
        <div class="card-content center">
            <a href="/reset" class="btn-floating btn-large waves-effect waves-light red ">
                <i class="fa-trash"></i></a>
        </div>
    </div>
</div>

{{else}}
<div class="">
    <h5>No Sightings</h5>
    {{/if}}
</div>